<!DOCTYPE html>
<html>
<head>
	<title>SHOPII</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css', version=100) }}">
	<link rel="stylesheet" href="../static/styles.css">
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
	function chooseColor(num) {
		var product = '{{ product.id }}';
	
	
		var html = "<img class='img' src='../static/image" + product + "_" + num + ".jpg'/>";
		$('#productImg').html(html);
		

		window.location.hash = num;
      	}
      	
      	window.onload = function() { 
      		refresh();
        }
        
        window.onhashchange = function() {
 		refresh();
	}
	
	function refresh(){
		var product = '{{ product.id }}';    		
      		if(product){
      			chooseColor(unescape(self.location.hash.substr(1)) || "1");
      		}
	}
      	
      	
      	
</script>

<body>
<div class="border"></div>
<div class="wrapper">
	<header class="main_header clearfix">
		<div class="logo">
			<a href="{{ url_for('index') }}"><h1>Shopii</h1></a>
		</div>
	  
		<ul id="headerlink">
			<li><a class="active" href="{{ url_for('index') }}">Home</a></li>
			<li><a class="active" href="{{ url_for('search') }}">Search Product</a></li>
		</ul>
	</header>


	<div class="product2">
		<!--<img src="{{ url_for('static', filename='image1_1.jpg')}}" width="100" height="100"/>-->
		<div class="productImg" id="productImg"></div>
		<div class="description">
			<span class="pname" id="pname">{{ product.name }}</span>
			<span class="price" id="price"><h3>${{ product.price }}</h3></span>
			<div class="color" onclick="chooseColor('1')">Black</div>
			<div class="color" onclick="chooseColor('2')">White</div>
			<div class="color" onclick="chooseColor('3')">Red</div>
			<br>
			<input required="" type="hidden" name="productID" value="{{ product.id }}">	
			<script>
                var stores = ["Perth","Sydney","Melbourne"];
                var store = (new URLSearchParams(window.location.search)).get('store');
                document.write('<select name="store">');
                if(store) {
                    document.write('<option selected>'+store+'</option>');
                }
                for(var i=0;i<stores.length;i++) {
                    if(stores[i] === store) {
                        continue;
                    }
                    document.write('<option>'+stores[i]+'</option>');
                }
                document.write('</select>');
                
                
            </script>
            <button id="checkStock" class="button">Check stock</button>    
            <div id="result"></div>
		</div>
	</div>
</div>

<script>
    $(function() {
        $('#checkStock').bind('click', function() {        
            get_stock();          
        });
    });
    
    var store = (new URLSearchParams(window.location.search)).get('store');
    if(store){
        get_stock();
    }
    
    
    function get_stock(){
    
        $.getJSON('/_check_stock', {
            productID: $('input[name="productID"]').val(),
            store: $('select[name="store"]').val(),
          }, function(data) {
            $("#result").text(data.result);
          });
          return false;
    }
    
    
    
  
  

  
  
  
  
  
</script>
</body>
</html>
