<!DOCTYPE html>
<html>
<head>
	<title>DOM-based XSS</title>
</head>
<body>

<h1>DOM-based XSS Demo</h1>
<h3>document.write sink inside a select element</h3>
<form action="/3" method="GET">
	<select name="selection">
		<script>	
		
		var options = ["A","B","C"];					
		var selection = (new URLSearchParams(window.location.search)).get('selection');
		
		if(selection) {
			document.write('<option selected>'+ selection + '</option>');
		}
		
		for(var i=0;i<options.length;i++) {
                    if(options[i] === selection) {
                        continue;
                    }
                    document.write('<option>'+options[i]+'</option>');
               }
		</script>
	</select>
	<button type="submit" class="button">Select</button>
</form>

</body>
<html>
